/* Give body a little space around */
body {
  margin: 1rem;
}

/********** CONTAINER **********/
.container {
  /* horizontal center */
  margin-right: auto;
  margin-left: auto;
  /* width to 100% or max-width */
  width: 100%;
  width: min(100%, var(--container_max-width));
  min-width: var(--container_min-width);
  max-width: var(--container_max-width);
  /* calculate width w/ minimum, preferred, or max */
  width: clamp(var(--container_min-width), 100%, var(--container_max-width));

  /* horizontal space around text */
  padding-right: var(--container_padding-h);
  padding-left: var(--container_padding-h);
  padding: var(--container_padding-v) var(--container_padding-h);
}

/********** CARD **********/
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--card-gap);
}

.card {
  display: block;
  width: 10rem;
  width: var(--card_width);
}

/********** IMAGE **********/
.card-image {
  object-fit: cover;
  width: 100%;
  /* .card width / 2 */
  height: 5rem;
  height: calc(10rem / 2);
  height: calc(var(--card_width) / 2);
}

/********** CONTENT **********/
.card--content {
  margin: auto 0.25rem;
  margin: auto var(--card--content_margin-h);
}

/********** TITLE **********/
/* Hack for small screen, display title on nb line */
.card-title {
  --line-height: 1.375rem;
  --line-nb: 2;
  min-height: calc(var(--line-nb) * var(--line-height));
}
@media (min-width: 720px) {
  /* reset hack for small screen */
  .card-title {
    height: auto;
  }
}
