/***************************/
/********** RESET **********/
/***************************/
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body,
figure {
  margin: 0;
}

/********************************************/
/************ ALL / SMALL SCREEN ************/
/********************************************/
.container {
  --container_min-width: 320px;
  /* --container_max-width: 1600px; */
  /* --container_max-width: 1120px; */
  --container_max-width: 1088px;

  --container_padding-h: 1rem;
  --container_padding-v: 0.125rem;
  --card_width: 10rem;
  --card_margin-h: 0.5rem;
  --card--content_margin-h: 0.125rem;
}
.card {
  --card_border-width: 0.25rem;
  --card_border-radius: 1rem;
  /* --card-image_border-radius: 0.75rem; */
  --card-image_border-radius: calc(
    var(--card_border-radius) - var(--card_border-width)
  );

  display: inline-block;
}

/***************************************/
/************ MEDIUM SCREEN ************/
/***************************************/
@media (min-width: 720px) {
  .container {
    --card_width: 15rem;
    --card_margin-h: 0.75rem;
    --card--content_margin-h: 0.25rem;
  }
  .card {
    --card_border-width: 0.375rem;
    --card_border-radius: 1rem;
  }
}

/************************************/
/************ BIG SCREEN ************/
/************************************/
@media (min-width: 960px) {
  .container {
    --container_padding-h: 2rem;
    --card_width: 20rem;
    --card_margin-h: 1rem;
    --card--content_margin-h: 0.5rem;
  }
  .card {
    --card_border-width: 0.5rem;
    --card_border-radius: 1.25rem;
  }
}
